<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>

    <settings>
        <!--是否开启下划线转驼峰命名配置 first_name==>firstName-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

</configuration>